import(lattice, tpr, prodlim)
require(geepack)
export(cpf, cpfpo, summary.cpf, pseudocpf, summary.pseudocpf)
S3method(print, cpf)
S3method(summary, cpf)
S3method(print, summary.cpf)
S3method(plot,cpf)
S3method(print, cpfpo)
S3method(xyplot, cpfpo)
S3method(predict, cpf)
S3method(lines, cpf)
S3method('[', cpf)
S3method(print, pseudocpf)
S3method(summary, pseudocpf)
S3method(print, summary.pseudocpf)
